* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #c3f6d2;
}

.lang-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

.lang-card:hover .lang-logo {
  transform: scale(1.1);
}

.lang-logo,
.lang-card {
  transition: all 0.4s ease-in-out;
}
